.scene {
    color: black;
    font-size: 20px;
    font-family: "San Francisco Pro Text";
    text-align: left;
    /* float: left; */
}

.shadow {
    border:2px soild #fff;
    margin: 15px 15px;
    -webkit-box-shadow: 2px 3px 8px #fff;
    -moz-box-shadow: 2px 3px 8px #fff;
    box-shadow: 2px 3px 8px #fff;
}

.switch {
    float: right;
    margin-left: 80%;
    background-color: black;
    /* width: 20%; */
}

.even {
    background: #A5CCD1;
}
