<StackLayout>
    <div class="header">
        <Label class="header-label" [ngClass]="(wifiStatus===1 || wifiStatus===3) ? 'header-label-connected' : 'header-label-not-connected'"  text="ALOHA"></Label>
    </div>
    <div *ngIf="user.username">
            <Label text="Hello user: {{ user.username }}"></Label>
    </div>
    <div *ngIf="!user.accessToken">
            <Button text="Authorize Remote Access" [nsRouterLink]="['/remote-access']"></Button>
    </div>
    <div *ngIf="wifiStatus===1 || wifiStatus===3" >
        <div *ngIf="!user.username">
            <Button text="Create User" [nsRouterLink]="['/user']" pageTransition="slide"></Button>
        </div>
        <div *ngIf="user.username">
                <Label text="Welcome Home!"></Label>
                <Button text="Configure Home/Away" [nsRouterLink]="['/configure']">
                </Button>
        </div>
    </div>
    <div *ngIf="wifiStatus != 1 && wifiStatus != 3">
            <Label text="Lights are off."></Label>
    </div>
</StackLayout>