.header-label {
    background: green;
    height: 100px;
    color: bisque;
    font-size: 30px;
    font-family: "Helvetica"
}

.header-label-connected {
    background: green;
}

.header-label-not-connected {
    background: red;
}